# SQL Script: CASE Statement and SET Operators

This notebook contains examples and explanations for using **CASE statements** and **SET operators** in SQL.

### Key Concepts:
- **CASE Statement**:
  - Used for conditional logic within SQL queries.
  - Syntax:
    ```sql
    CASE
        WHEN <condition> THEN <result_when_true>
        [WHEN <condition> THEN <result_when_true>] -- Optional additional conditions
        ELSE <result_when_false>
    END
    ```
- **SET Operators**:
  - Combine the results of multiple queries.
  - Examples: `UNION`, `INTERSECT`, `EXCEPT` (not included in this specific script but related).

---

## Example 1: Categorizing Data Using CASE
### Query:
```sql
SELECT CATEGORIES, SUM(Sales) AS total_sales
FROM (
    SELECT
        OrderID,
        Sales,
        CASE
            WHEN Sales > 50 THEN 'HIGH'
            WHEN Sales > 20 THEN 'MEDIUM'
            ELSE 'LOW'
        END AS CATEGORIES
    FROM Sales.Orders
) t
GROUP BY CATEGORIES
ORDER BY total_sales DESC;
```
This example demonstrates categorizing sales into **HIGH**, **MEDIUM**, and **LOW** based on thresholds, then calculating total sales for each category.

In [ ]:
# Simulating Example 1 in SQLite (Python):
import sqlite3
import pandas as pd

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create sample data and execute equivalent queries

## Example 2: Mapping Values Using CASE
### Query:
```sql
SELECT *,
    CASE
        WHEN Gender = 'M' THEN 'Male'
        WHEN Gender = 'F' THEN 'Female'
    END AS full_gender,
    CASE Gender
        WHEN 'M' THEN 'Male'
        WHEN 'F' THEN 'Female'
    END AS full_gender_other_option
FROM Sales.Employees;
```
This example maps abbreviated gender values (`M`, `F`) to their full forms (`Male`, `Female`) using two styles of the CASE statement.

## Example 3: Replacing NULL Values
### Query:
```sql
SELECT
    CustomerID,
    LastName,
    Score,
    CASE
        WHEN Score IS NULL THEN 0
        ELSE Score
    END AS new_score,
    AVG(Score) OVER () AS AVG_CUSTOMERS,
    AVG(CASE WHEN Score IS NULL THEN 0 ELSE Score END) OVER () AS AVG_WITH_0
FROM Sales.Customers;
```
This query demonstrates handling `NULL` values in columns and calculating averages with and without treating `NULL` values as zero.

## Example 4: Conditional Aggregation
### Query:
```sql
SELECT
    CustomerID,
    COUNT(*) AS total_orders,
    SUM(CASE WHEN Sales > 30 THEN 1 ELSE 0 END) AS order_count_more_than_30
FROM Sales.Orders
GROUP BY CustomerID;
```
This query applies aggregation functions conditionally to analyze target data subsets, such as counting orders with sales over a specific threshold.

---
### Notes and Additions:
- Add your own corrections or improvements here.
- Extend the examples with more advanced queries or additional operators.